<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>per user</title>
            <link rel="stylesheet" href="/stylesheets/stylee.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">

    {{!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> --}}

</head>
<body class="login-body">

     <header>
        <h1>CEF Backend</h1>
    </header>
     <form action="/admin/update-user/{{user._id}}" method="post">
    
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{user.username}}</span><span class="text-black-50">{{user.email}}</span><span> </span></div>
        </div>
       


       
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile </h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Full Name</label><input type="text" readonly class="form-control"  value="{{user.fullName}}"></div>
                    
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" readonly value="{{user.phone}}"></div>
                   
                    <div class="col-md-12"><label class="labels">Email ID</label><input type="email" class="form-control" readonly value="{{user.email}}"></div>
                    
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" readonly value="{{user.country}}" placeholder="No Country"></div>


                    <div class="col-md-6"><label class="labels">Password</label><input type="text" readonly class="form-control" value="{{user.password}}" ></div>


                    <div class="col-md-6"><label class="labels">Balance</label><input type="text" class="form-control" value="{{user.balance}}" readonly></div>

                    <div class="col-md-6"><label class="labels">New Balance</label><input type="text" class="form-control" value={{user.balance}} name="balance"></div>


                    <div class="col-md-6"><label class="labels">User Blocked?</label><input type="text"  readonly class="form-control" value={{user.block}}></div>

                    <div class="col-md-6"><label class="labels">Block</label><select class="form-select" aria-label="Default select example" name="block">
  <option selected>Not Blocked</option>
  <option value="true">Yes</option>
  <option value="false">No</option>
  
</select></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Update User</button></div>
            </div>
        </div>
         
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Bank Details</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;..</span></div><br>

                <div class="col-md-12"><label class="labels">Account Name</label><input type="text" class="form-control" placeholder="No Bank Details" readonly value="{{user.accountName}}"></div> <br>

                <div class="col-md-12"><label class="labels">Account Number</label><input type="text" class="form-control" readonly placeholder="No Account Number" value="{{user.accountNumber}}"></div> <br>

                <div class="col-md-12"><label class="labels">Bank Name</label><input type="text" class="form-control" placeholder="No Bank Name" readonly value="{{user.bankName}}"></div>

            </div>
            
        </div>

        
    </div>
</div>
</div>
</div>

</form>
<div class="mt-5 text-center"><a href="/admin/all-users"><button class="btn btn-primary profile-button" >Back to users list</button></a></div>
            <div class="mt-5 text-center"><a href="/admin/home"><button class="btn btn-primary profile-button">Home</button></a></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>